<%- include("partials/header.ejs") %>
    
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Lista de par de cryptomonedas</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <% if (content) { %>           
            <% content.forEach(([key, value]) => { %>
            <div class="col d-flex align-items-start"> <svg class="bi text-body-secondary flex-shrink-0 me-3"
                    width="1.75em" height="1.75em" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"><%= key %></h3>
                    <p>Cryptomoneda: <strong><%= value.base_currency %></strong></p>
                    <p>Compra/venta min: <strong><%= (value.min_order_size * Math.pow(10, -value.min_order_size_scale)).toFixed(4) %></strong></p>
                    <p>Estado actual: <strong><%= value.status %></strong></p>
                    <form method="post">
                        <button type="submit" class="btn btn-info" value="<%= key %>" name="informacion" formaction="/get-price">Más información</button>
                    </form>
                </div>
            </div>
            <% }); } else { %>
                <h2><%= error %></h2>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>