<%- include("partials/header.ejs") %>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Moneda </h2>
        <% if (locals.content) { %>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('/img/fondo-crypto.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= content.symbol %></h3>
                        <h2 class="display-6 lh-1 ">$<%= content.price_24h %></h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                                <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927z"/>
                              </svg> </li>
                            <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Location">
                                    <use xlink:href="#geo-fill"></use>
                                </svg> <small>Último precio: $<%= content.last_trade_price %> </small> </li>
                            <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em"
                                    role="img" aria-label="Duration">
                                    <use xlink:href="#calendar3"></use>
                                </svg> <small><%= content.volume_24h %></small> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
            <h1>¿Deseas buscar algúna moneda?</h1>
            <% } %>
    </div>

    <%- include("partials/footer.ejs") %>